{require_min_otp_vsn, "20.0.4"}.
{erl_opts, [debug_info,
            {src_dirs, ["src"]},
            {platform_define, "R15", 'gen_tcp_r15b_workaround'},
            {platform_define, "(R14|R15|R16B-)", 'crypto_compatibility'}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [{esockd, ".*",{git, "git://github.com/voxoz/esockd",[]}}]}.
